apache-ofbiz-10.04.03/hot-deploy/osafeadmin/dtd/feeds/bigfishfeed.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- definition of Customer elements -->
  <xsd:element name="BigFishCustomerFeed" type="BigFishCustomerFeedType" />
  <xsd:complexType name="BigFishCustomerFeedType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Customer" type="CustomerType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerType">
    <xsd:sequence>
      <xsd:element name="ProductStore" type="xsd:string" />
      <xsd:element name="CustomerId" type="xsd:string" />
      <xsd:element name="FirstName" type="xsd:string" />
      <xsd:element name="LastName" type="xsd:string" />
      <xsd:element name="Gender" type="xsd:string" />
      <xsd:element name="DateRegistered" type="xsd:string" />
      <xsd:element name="EmailAddress" type="xsd:string" />
      <xsd:element name="EmailFormat" type="xsd:string" />
      <xsd:element name="EmailOptIn" type="xsd:string" />
      <xsd:element name="HomePhone" type="xsd:string" />
      <xsd:element name="CellPhone" type="xsd:string" />
      <xsd:element name="WorkPhone" type="xsd:string" />
      <xsd:element name="WorkPhoneExt" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="BillingAddress" type="BillingAddressType" />
      <xsd:element maxOccurs="unbounded" name="ShippingAddress" type="ShippingAddressType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShippingAddressType">
    <xsd:sequence>
      <xsd:element name="Country" type="xsd:string" />
      <xsd:element name="Address1" type="xsd:string" />
      <xsd:element name="Address2" type="xsd:string" />
      <xsd:element name="Address3" type="xsd:string" />
      <xsd:element name="CityTown" type="xsd:string" />
      <xsd:element name="StateProvince" type="xsd:string" />
      <xsd:element name="ZipPostCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingAddressType">
    <xsd:sequence>
      <xsd:element name="Country" type="xsd:string" />
      <xsd:element name="Address1" type="xsd:string" />
      <xsd:element name="Address2" type="xsd:string" />
      <xsd:element name="Address3" type="xsd:string" />
      <xsd:element name="CityTown" type="xsd:string" />
      <xsd:element name="StateProvince" type="xsd:string" />
      <xsd:element name="ZipPostCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Order elements -->
  <xsd:element name="BigFishOrderFeed" type="BigFishOrderFeedType" />
  <xsd:complexType name="BigFishOrderFeedType">
    <xsd:sequence>
      <xsd:element name="Order" type="OrderType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderType">
    <xsd:sequence>
      <xsd:element name="ProductStore" type="xsd:string" />
      <xsd:element name="Customer" type="CustomerType" />
      <xsd:element name="OrderHeader" type="OrderHeaderType" />
      <xsd:element maxOccurs="unbounded" name="CartPromotion" type="CartPromotionType" />
      <xsd:element name="OrderLineItems" type="OrderLineItemsType" />
      <xsd:element name="OrderPayment" type="OrderPaymentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderPaymentType">
    <xsd:sequence>
	  <xsd:element name="PaymentMethod" type="xsd:string" />
      <xsd:element name="CardType" type="xsd:string" />
      <xsd:element name="Last4Digits" type="xsd:string" />
	  <xsd:element name="CardNumber" type="xsd:string" />
	  <xsd:element name="ExpiryDate" type="xsd:string" />
	  <xsd:element name="AuthAmount" type="xsd:string" />
	  <xsd:element name="PayerId" type="xsd:string" />
	  <xsd:element name="TransactionId" type="xsd:string" />
	  <xsd:element name="PaymentToken" type="xsd:string" />
	  <xsd:element name="AuthReferenceNumber" type="xsd:string" />
	  <xsd:element name="AuthDateTime" type="xsd:string" />
	  <xsd:element name="CaptureAmount" type="xsd:string" />
	  <xsd:element name="CaptureReferenceNumber" type="xsd:string" />
	  <xsd:element name="CaptureDateTime" type="xsd:string" />
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderLineItemsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="OrderLine" type="OrderLineType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderLineType">
    <xsd:sequence>
      <xsd:element name="LineNumber" type="xsd:string" />
      <xsd:element name="OrderLineId" type="xsd:string" />
      <xsd:element name="ProductId" type="xsd:string" />
      <xsd:element name="Quantity" type="xsd:int" />
      <xsd:element name="Price" type="xsd:string" />
      <xsd:element name="LineTotalGross" type="xsd:string" />
      <xsd:element name="SalesTax" type="xsd:string" />
      <xsd:element name="ShippingCharge" type="xsd:string" />
      <xsd:element name="ShippingTax" type="xsd:string" />
      <xsd:element name="Carrier" type="xsd:string" />
      <xsd:element name="CarrierCustomInfo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CartPromotionType">
    <xsd:sequence>
      <xsd:element name="PromotionCode" type="xsd:string" />
      <xsd:element name="PromotionAmount" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderHeaderType">
    <xsd:sequence>
      <xsd:element name="OrderId" type="xsd:string" />
      <xsd:element name="OrderDate" type="xsd:string" />
      <xsd:element name="OrderTotalItem" type="xsd:string" />
      <xsd:element name="OrderTotalAdjustment" type="xsd:string" />
      <xsd:element name="OrderShippingChargeGross" type="xsd:string" />
      <xsd:element name="OrderTotalTax" type="xsd:string" />
      <xsd:element name="OrderTotalNet" type="xsd:string" />
      <xsd:element name="Currency" type="xsd:string" />
      <xsd:element name="ItemsToRemove" type="xsd:string" />
      <xsd:element name="ValidateWebTotals" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
    
  <!-- definition of Customer ContactUs elements -->
  <xsd:element name="BigFishContactUsFeed" type="BigFishContactUsFeedType" />
  <xsd:complexType name="BigFishContactUsFeedType">
    <xsd:sequence>
      <xsd:element name="ContactUs" type="ContactUsType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactUsType">
    <xsd:sequence>
      <xsd:element name="ProductStore" type="xsd:string" />
      <xsd:element name="ContactUsId" type="xsd:string" />
      <xsd:element name="FirstName" type="xsd:string" />
      <xsd:element name="LastName" type="xsd:string" />
      <xsd:element name="EmailAddress" type="xsd:string" />
      <xsd:element name="ContactPhone" type="xsd:string" />
      <xsd:element name="OrderId" type="xsd:string" />
      <xsd:element name="Comment" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Customer Request Catalog elements -->
  <xsd:element name="BigFishRequestCatalogFeed" type="BigFishRequestCatalogFeedType" />
  <xsd:complexType name="BigFishRequestCatalogFeedType">
    <xsd:sequence>
      <xsd:element name="RequestCatalog" type="RequestCatalogType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestCatalogType">
    <xsd:sequence>
      <xsd:element name="ProductStore" type="xsd:string" />
      <xsd:element name="RequestCatalogId" type="xsd:string" />
      <xsd:element name="FirstName" type="xsd:string" />
      <xsd:element name="LastName" type="xsd:string" />
      <xsd:element name="Country" type="xsd:string" />
      <xsd:element name="Address1" type="xsd:string" />
      <xsd:element name="Address2" type="xsd:string" />
      <xsd:element name="Address3" type="xsd:string" />
      <xsd:element name="CityTown" type="xsd:string" />
      <xsd:element name="StateProvince" type="xsd:string" />
      <xsd:element name="ZipPostCode" type="xsd:string" />
      <xsd:element name="EmailAddress" type="xsd:string" />
      <xsd:element name="ContactPhone" type="xsd:string" />
      <xsd:element name="Comment" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of BigFish Product Feed elements -->
  <xsd:element name="BigFishProductFeed" type="BigFishProductFeedType" />
  <xsd:complexType name="BigFishProductFeedType">
    <xsd:sequence>
      <xsd:element name="ProductCategory" type="ProductCategoryType" />
      <xsd:element name="Products" type="ProductsType" />
      <xsd:element name="ProductAssociation" type="ProductAssociationType" />
      <xsd:element name="ProductFeatureSwatch" type="ProductFeatureSwatchType" />
      <xsd:element name="ProductManufacturer" type="ProductManufacturerType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product Category elements -->
  <xsd:complexType name="ProductCategoryType">
    <xsd:sequence>
      <xsd:element type="CategoryType" name="Category" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="CategoryType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="CategoryId" default=""/>
      <xsd:element type="xsd:string" name="ParentCategoryId" default=""/>
      <xsd:element type="xsd:string" name="CategoryName" default=""/>
      <xsd:element type="xsd:string" name="Description" default=""/>
      <xsd:element type="xsd:string" name="LongDescription" default=""/>
      <xsd:element type="xsd:string" name="AdditionalPlpText" default=""/>
      <xsd:element type="xsd:string" name="AdditionalPdpText" default=""/>
      <xsd:element type="PlpImageType" name="PlpImage"/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PlpImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product elements -->
  <xsd:complexType name="ProductsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Product" type="ProductType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="MasterProductId" default=""/>
      <xsd:element type="xsd:string" name="ProductId" default=""/>
      <xsd:element type="xsd:string" name="ProductStoreId" default=""/>
      <xsd:element type="xsd:string" name="InternalName" default=""/>
      <xsd:element type="xsd:string" name="ProductName" default=""/>
      <xsd:element type="xsd:string" name="SalesPitch" default=""/>
      <xsd:element type="xsd:string" name="LongDescription" default=""/>
      <xsd:element type="xsd:string" name="SpecialInstructions" default=""/>
      <xsd:element type="xsd:string" name="DeliveryInfo" default=""/>
      <xsd:element type="xsd:string" name="Directions" default=""/>
      <xsd:element type="xsd:string" name="TermsAndConds" default=""/>
      <xsd:element type="xsd:string" name="Ingredients" default=""/>
      <xsd:element type="xsd:string" name="Warnings" default=""/>
      <xsd:element type="xsd:string" name="PlpLabel" default=""/>
      <xsd:element type="xsd:string" name="PdpLabel" default=""/>
      <xsd:element type="xsd:string" name="ProductHeight" default=""/>
      <xsd:element type="xsd:string" name="ProductWidth" default=""/>
      <xsd:element type="xsd:string" name="ProductDepth" default=""/>
      <xsd:element type="xsd:string" name="Returnable" default=""/>
      <xsd:element type="xsd:string" name="Taxable" default=""/>
      <xsd:element type="xsd:string" name="ChargeShipping" default=""/>
      <xsd:element type="xsd:string" name="ManufacturerId" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
      <xsd:element type="ProductPriceType" name="ProductPrice"/>
      <xsd:element type="ProductCategoryMemberType" name="ProductCategoryMember"/>
      <xsd:element type="ProductSelectableFeatureType" name="ProductSelectableFeature"/>
      <xsd:element type="ProductDescriptiveFeatureType" name="ProductDescriptiveFeature"/>
      <xsd:element type="ProductImageType" name="ProductImage"/>
      <xsd:element type="GoodIdentificationType" name="GoodIdentification"/>
      <xsd:element type="ProductInventoryType" name="ProductInventory"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductPriceType">
    <xsd:sequence>
      <xsd:element type="ListPriceType" name="ListPrice"/>
      <xsd:element type="SalesPriceType" name="SalesPrice"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ListPriceType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Price" default=""/>
      <xsd:element type="xsd:string" name="Currency" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SalesPriceType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Price" default=""/>
      <xsd:element type="xsd:string" name="Currency" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
                  
  <xsd:complexType name="ProductCategoryMemberType">
    <xsd:sequence>
      <xsd:element type="CategoryMemberType" name="Category" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="CategoryMemberType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="CategoryId" default=""/>
      <xsd:element type="xsd:string" name="SequenceNum" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductSelectableFeatureType">
    <xsd:sequence>
      <xsd:element type="FeatureType" name="Feature" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductDescriptiveFeatureType">
    <xsd:sequence>
      <xsd:element type="FeatureType" name="Feature" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="FeatureType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="FeatureId" default=""/>
      <xsd:element type="xsd:string" name="Value" maxOccurs="unbounded" default=""/>
      <xsd:element type="xsd:string" name="Description" default=""/>
      <xsd:element type="xsd:string" name="sequenceNum" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductImageType">
    <xsd:sequence>
      <xsd:element type="PlpSwatchType" name="PlpSwatch"/>
      <xsd:element type="PdpSwatchType" name="PdpSwatch"/>
      <xsd:element type="PlpSmallImageType" name="PlpSmallImage"/>
      <xsd:element type="PlpSmallAltImageType" name="PlpSmallAltImage"/>
      <xsd:element type="PdpThumbnailImageType" name="PdpThumbnailImage"/>
      <xsd:element type="PdpLargeImageType" name="PdpLargeImage"/>
      <xsd:element type="PdpDetailImageType" name="PdpDetailImage"/>
      <xsd:element type="PdpVideoType" name="PdpVideoImage"/>
      <xsd:element type="PdpVideo360Type" name="PdpVideo360Image"/>
      <xsd:element type="PdpAlternateImageType" name="PdpAlternateImage"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element type="xsd:string" name="Url" default=""/>
  <xsd:complexType name="PlpSwatchType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpSwatchType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PlpSmallImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpThumbnailImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpLargeImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpDetailImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpVideoType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpVideo360Type">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PlpSmallAltImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpAlternateImageType">
    <xsd:sequence>
      <xsd:element type="PdpAdditionalImageType" name="PdpAdditionalImage" maxOccurs="10"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpAdditionalImageType">
    <xsd:sequence>
      <xsd:element type="PdpAdditionalThumbImageType" name="PdpAdditionalThumbImage"/>
      <xsd:element type="PdpAdditionalLargeImageType" name="PdpAdditionalLargeImage"/>
      <xsd:element type="PdpAdditionalDetailImageType" name="PdpAdditionalDetailImage"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpAdditionalThumbImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpAdditionalLargeImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PdpAdditionalDetailImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="GoodIdentificationType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Sku" default=""/>
      <xsd:element type="xsd:string" name="GoogleId" default=""/>
      <xsd:element type="xsd:string" name="Isbn" default=""/>
      <xsd:element type="xsd:string" name="ManuId" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProductInventoryType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="BigfishInventoryTotal" default=""/>
      <xsd:element type="xsd:string" name="BigfishInventoryWarehouse" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product Association elements -->
  <xsd:complexType name="ProductAssociationType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Association" type="AssociationType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="AssociationType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="MasterProductId" default=""/>
      <xsd:element type="xsd:string" name="MasterProductIdTo" default=""/>
      <xsd:element type="xsd:string" name="FromDate" default=""/>
      <xsd:element type="xsd:string" name="ThruDate" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product Feature Swatch elements -->
  <xsd:complexType name="ProductFeatureSwatchType">
    <xsd:sequence>
      <xsd:element type="FeatureSwatchType" name="Feature" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="FeatureSwatchType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="FeatureId" default=""/>
      <xsd:element type="xsd:string" name="Value" default=""/>
      <xsd:element type="PlpSwatchType" name="PlpSwatch"/>
      <xsd:element type="PdpSwatchType" name="PdpSwatch"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product Feature Swatch elements -->
  <xsd:complexType name="ProductManufacturerType">
    <xsd:sequence>
      <xsd:element type="ManufacturerType" name="Manufacturer" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ManufacturerType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="ManufacturerId" default=""/>
      <xsd:element type="xsd:string" name="ManufacturerName" default=""/>
      <xsd:element type="xsd:string" name="Description" default=""/>
      <xsd:element type="xsd:string" name="LongDescription" default=""/>
      <xsd:element type="ManufacturerImageType" name="ManufacturerImage"/>
      <xsd:element type="ManufacturerAddressType" name="Address"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ManufacturerImageType">
    <xsd:sequence>
      <xsd:element ref="Url"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ManufacturerAddressType">
    <xsd:sequence>
      <xsd:element name="Address1" type="xsd:string" default=""/>
      <xsd:element name="CityTown" type="xsd:string" default=""/>
      <xsd:element name="StateProvince" type="xsd:string" default=""/>
      <xsd:element name="ZipPostCode" type="xsd:string" default=""/>
      <xsd:element name="Country" type="xsd:string" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Order Status elements -->
  <xsd:element name="BigFishOrderStatusUpdateFeed" type="BigFishOrderStatusUpdateFeedType" />
  <xsd:complexType name="BigFishOrderStatusUpdateFeedType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Order" type="OrderStatusType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="OrderStatusType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="ProductStore"/>
      <xsd:element type="xsd:string" name="OrderId"/>
      <xsd:element type="xsd:string" name="OrderStatus"/>
      <xsd:element type="xsd:string" name="OrderShipDate" default=""/>
      <xsd:element type="xsd:string" name="OrderShipCarrier" default=""/>
      <xsd:element type="xsd:string" name="OrderShipMethod" default=""/>
      <xsd:element type="xsd:string" name="OrderTrackingNumber" default=""/>
      <xsd:element type="xsd:string" name="OrderNote" default=""/>
      <xsd:element type="OrderItemType" name="OrderItem" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="OrderItemType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="OrderItemId"/>
      <xsd:element type="xsd:string" name="OrderItemStatus"/>
      <xsd:element type="xsd:string" name="OrderItemShipDate" default=""/>
      <xsd:element type="xsd:string" name="OrderItemCarrier" default=""/>
      <xsd:element type="xsd:string" name="OrderItemShipMethod" default=""/>
      <xsd:element type="xsd:string" name="OrderItemTrackingNumber" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-- definition of Store elements -->
  <xsd:element name="BigFishStoreFeed" type="BigFishStoreFeedType" />
  <xsd:complexType name="BigFishStoreFeedType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Store" type="StoreType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="StoreType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="ProductStore" default=""/>
      <xsd:element type="xsd:string" name="StoreId" default=""/>
      <xsd:element type="xsd:string" name="StoreCode" default=""/>
      <xsd:element type="xsd:string" name="StoreName" default=""/>
      <xsd:element type="StoreAddressType" name="StoreAddress"/>
      <xsd:element type="xsd:string" name="OpeningHours" default=""/>
      <xsd:element type="xsd:string" name="StoreNotice" default=""/>
      <xsd:element type="xsd:string" name="StoreContentSpot" default=""/>
      <xsd:element type="xsd:string" name="Status" default=""/>
      <xsd:element type="xsd:string" name="GeoCodeLong" default=""/>
      <xsd:element type="xsd:string" name="GeoCodeLat" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="StoreAddressType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Country" default=""/>
      <xsd:element type="xsd:string" name="Address1" default=""/>
      <xsd:element type="xsd:string" name="Address2" default=""/>
      <xsd:element type="xsd:string" name="Address3" default=""/>
      <xsd:element type="xsd:string" name="CityTown" default=""/>
      <xsd:element type="xsd:string" name="StateProvince" default=""/>
      <xsd:element type="xsd:string" name="ZipPostCode" default=""/>
      <xsd:element type="xsd:string" name="StorePhone" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- definition of Product Rating elements -->
  <xsd:element name="BigFishProductRatingFeed" type="BigFishProductRatingFeedType" />
  <xsd:complexType name="BigFishProductRatingFeedType">
    <xsd:sequence>
      <xsd:element name="ProductRating" type="ProductRatingType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductRatingType">
    <xsd:sequence>
      <xsd:element name="ProductId" type="xsd:string" default=""/>
      <xsd:element name="Sku" type="xsd:string" default=""/>
      <xsd:element name="ProductRatingScore" type="xsd:string" default=""/>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>